.work-header-background {
    background: rgb(84,192,186);
    background: linear-gradient( rgba(90,164,206,1) 0%, rgba(70,128,197,1) 100%);
}

.header__inner:after {
    background: rgba(7,80,96,1);
}

.work-video-container {
    @media (min-width: $tablet) {
        grid-template-columns: 1fr 2fr;
    }
}

.work-video-left {
    @media (min-width: $tablet) {
        grid-template-columns: 2fr 1fr;
    }
}

.work-video-container .work-video {
    width: 100%;
    @media (max-width: $tablet) {
        width: 100%;
    }
}

.work-header {
    @media (min-width: $tablet) {
        grid-template-columns: 1fr 2fr;
    }
}