.work-header-background {
    background: rgba(97,127,178,1);
    background: linear-gradient( rgba(187,207,255,1) 0%, rgba(137,167,218,1) 100%);
}

.header__inner:after {
    background: rgba(7,80,96,1);
}

.work-video-container {
    @media (min-width: $tablet) {
        grid-template-columns: 1fr 2fr;
    }
}

.work-video-left {
    @media (min-width: $tablet) {
        grid-template-columns: 2fr 1fr;
    }
}

.work-video-container .work-video {
    width: 100%;
    @media (max-width: $tablet) {
        width: 100%;
    }
}

.work-header {
    @media (min-width: $tablet) {
        grid-template-columns: 1fr 2fr;
    }
}