.work-header-background {
    background: rgb(245,242,253);
    background: linear-gradient( rgba(245,242,253,1) 0%, rgba(231,225,250,1) 100%);
}

.work-video-container {
    grid-template-columns: 1.75fr 2fr;
    @media(max-width: $tablet) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}


.work-video-container .work-video {
    width: 450px;
    @media(max-width: $tablet) {
        width: 500px;
        margin: auto;
    }
    @media(max-width: $mobile) {
        width: 300px;
        margin: auto;
    }
}

.work-video video {
    width: 450px;
    height: 598px;
    @media(max-width: $tablet) {
        width: 100%;
        height: auto;
    }
}