.project {
    margin-top: 30px;
}


.project a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    div {
        margin: auto 0 auto 30px;
    }
    div h2 {
        font-size: 32px;
    }
    div p {
        margin-bottom: 0;
        height: 50px;
        background-color: rgba(127,90,243,1);
        text-align: center;
        box-shadow: 0 5px 10px -5px #97e;
        color: white;
        font-weight: 600;
        display: table-cell;
        vertical-align: middle;
        padding: 0 15px;
        border-radius: 10px;
    }
    @media (max-width: $mobile) {
        div h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        div p {
            box-shadow: none;
            background: none;
            display: inline;
            text-align: left;
            vertical-align: top;
            padding: 0;
            border-radius: 0;
            text-decoration: underline;
        }
    }
}

.project a img {
    margin-left: auto;
    margin-right: auto;
}

.florence {
    background: rgb(245,242,253);
    // background: linear-gradient( 270deg, rgba(245,242,253,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(245,242,253,1) 25%, rgba(255,255,255,1) 100%);
}

.mumsnet {
    background: rgba(94,163,208,1);
    // background: linear-gradient( 90deg, rgba(144,213,255,0.3) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(144,213,255,0.2) 25%, rgba(255,255,255,1) 100%);
}

.raffler {
    background: rgb(52,175,188);
    //background: linear-gradient( 270deg, rgba(102,225,238, 0.3) 0%, rgb(255,255,255) 100%);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(102,225,238, 0.3) 25%, rgba(255,255,255,1) 100%);
}

.brains {
    background: rgba(97,127,178,1);
    // background: linear-gradient( 90deg, rgba(187,207,255,0.5) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(187,207,255,0.3) 25%, rgba(255,255,255,1) 100%);
}

.checkin {
    background: rgb(245,242,253);
    // background: linear-gradient( 270deg, rgba(245,242,253,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(245,242,253,1) 25%, rgba(255,255,255,1) 100%);
}

.page-head {
    display: none;
}

.left {
    a {
        grid-template-columns: 2fr 1fr;
    }
    a div {
        margin: auto 30px auto 0;
        order: 2;
    }
    a image {
        order: 1;
    }
}

.project a div {
    .florence-button {
        background-color: rgba(127,90,243,1);
        box-shadow: 0 5px 10px -5px rgba(127,90,243,1)
    }
    .mumsnet-button {
        background-color: rgba(43,119,167,1);
        box-shadow: 0 5px 10px -5px rgba(43,119,167,1);
    }
    .brains-button {
        background-color: rgba(99,132,189,1);
        box-shadow: 0 5px 10px -5px rgba(99,132,189,1);
    }
    .raffler-button {
        background-color: rgba(68,190,170,1);
        box-shadow: 0 5px 10px -5px rgba(68,190,170,1);
    }
    .checkin-button {
        background-color: rgba(36,196,170,1);
        box-shadow: 0 5px 10px -5px rgba(36,196,170,1);
    }
    @media (max-width: $mobile) {
        .florence-button, .mumsnet-button, .raffler-button, .brains-button, .checkin-button {
            background-color: transparent;
            box-shadow: none;
        }
        .florence-button {
            color: rgba(127,90,243,1)
        }
        .mumsnet-button {
            color: rgba(43,119,167,1);
        }
        .brains-button {
            color: rgba(99,132,189,1);
        }
        .raffler-button {
            color: rgba(68,190,170,1);
        }
        .checkin-button {
            color: rgba(36,196,170,1);
        }
    }
}