.work-header-background {
    background: rgb(84,192,186);
    background: linear-gradient( rgba(84,192,186,1) 0%, rgba(54,162,156,1) 100%);
}

.header__inner:after {
    background: rgba(7,80,96,1);
}